/* stabilizing context in 800px for larger view port*/

header {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.container,
.hr,
.img-container {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

/* put the projects at 1/3 screen width so displayed horizontally */
.prj {
	width: 33%;
}